@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background: url('resources/rosas.gif') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e91e63;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
}

p {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
}

.romantic-image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin: 20px 0;
}

button {
    background-color: #e91e63;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d81b60;
}

#special-message {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: #c0c0c0;
    border: 2px solid #000;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 400px;
    width: 90%;
}

.popup-header {
    background: #000080;
    color: #fff;
    padding: 5px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
}

.popup p {
    margin: 20px 0;
    font-size: 20px;
}

.popup button {
    background: #fff;
    color: #000;
    border: 2px solid #000;
    padding: 5px 15px;
    margin: 10px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.popup button:hover {
    background: #dcdcdc;
}

.popup-footer {
    margin-top: 10px;
}

video {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Estilos para a página: gatinhos.html */
.sad-container {
    margin-top: 150px;
    background-color: #000;
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.sad-message {
    font-family: 'Creepster', cursive;
    font-size: 36px;
    color: #676565;
    margin-bottom: 20px;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.images-container img {
    max-width: 20%;
    height: auto;
    border-radius: 10px;
}

.sad-bg {
    background-color: #000;
    background-image: none;
}